
img {width: 25%;
min-width: 100px;
float: left;
margin: 10px;}

section::after {content: "";
display: block;
clear: both;}

.menuItem {float: left;
width: 46%;
text-align: center;
padding: 20px;
box-sizing: border-box;
background-color: grey;
margin: 2%;
color: white;}
