body {
       margin: 0;
       font-family: sans-serif;
     }
     nav {
       display: flex;
       background-color: LightCoral;
     }

     nav a {
       color: white;
       text-decoration: none;
       padding: 10px;
       flex-grow: 1;
       text-align: center;
       background-color: IndianRed;
       transition: 0.1s background-color;
     }

     nav a:hover {
       background-color: rgba(205, 92, 92, 0.3);
     }

     .PageTitle {
       text-align: center;
       margin: 0;
       padding: 10px;
       background-color: #2D2D2C;
       color: #CCA807;
       font-weight: 100;
     }
